@charset "utf-8";

#cellnavwrapper {
	top: 0 !important;
}

.header-background-supper {
	background: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), url("../upload/imgs/last-supper-desktop.png");
	background-repeat: no-repeat;
	background-size: 100%;
	padding: 6% 4%;
}

.header-background-creation {
	background: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), url("../upload/imgs/creation-desktop.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
	padding: 6% 4%;
}

.header-background-paradise {
	background: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), url("../upload/imgs/paradise-desktop.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
	padding: 6% 4%;
}

.history-groupcount-ul {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 1em;
	text-align: center;
	padding: 1% 20%;
}

.visitor-content {
	padding: 5% 0 !important;
}

.linewrapper i {
	margin-right: 5%;
}

.church-hist-schedule {
	display: block;
	flex-direction: column;
	flex: 1;
	padding: 2em 3em;
	margin: 0 12%;
	overflow: hidden;
	/* background-color: #f7faff; */
	background-color: #f0f1fa;
	border-radius: 10px;
}

.church-hist-schedule h3 {
	text-align: center;
	font-size: 1.45em;
}

.church-hist-timeline {
	width: 100%;
	position: relative;
	padding: 1.5rem 0 1rem;
}

.church-hist-timeline::before {
	content: '';
	position: absolute;
	top: 0;
	left: calc(25% + 0.5em);
	height: 100%;
	width: 0.25em;
	background: #D1D4D7;
	border-radius: 0.25rem;
	box-sizing: border-box;
}

.church-hist-badge {
	position: absolute;
	left: 25%;
	border-radius: 0.3125rem;
	background-color: #71869d;
}

.church-hist-timeline-element-content {
	position: relative;
	margin-left: calc(25% + 2.5em);
	top: -0.15em;
	opacity: 0.7;
}

.church-hist-timeline-element-time {
	position: absolute;
	top: -0.15em;
	left: calc(25% - 4.5em);
	color: gray;
	font-size: 1.1em;
	white-space: nowrap;
}

.pray-intro {
	justify-content: center;
}

.staff-pics {
	margin: 1% 10%;
}

.staff-pics img {
	width: 90%;
	height: auto;
	object-fit: contain;
}

blockquote {
	background: #f0f1fa;
	border-left: 10px solid #D1D4D7;
	padding: 1em 2em;
	line-height: 2.5;
	text-align: left;
}

#church-building-map{
	background-image: url("../upload/imgs/campus_map.jpg");
	background-size: cover;
	width: 100%;
}
