@charset "utf-8";

@media (max-width: 600px) {
	.go-english h4{
		font-size: 0.875em;
	}
	
	.marquee>.inner>p{
		font-size: 0.875em;
	}
	
	.slideshow{
		display: none;
	}
	
	.intro>p span {
		line-height: 1.0 !important;
	}
	
	.intro{
		display: none;
	}
	.cellintro{
		display: block;
		margin-left: 10%;
		margin-top: 10%;
	}
	
	.cellintro>p span {
		color: white;
		font-family: 'Montserrat', sans-serif;
		line-height: 1.8;
		text-align: left;
		display: block;
		font-size: 0.75em;
		padding-left: 1em;
	}
	
	.first-visit-title p{
		text-align: left;
	}
	
	.visitor-ul{
		display:flex;
		flex-wrap: wrap;
		text-align: left;
	}
	
	.visitor-li{
		flex: 0 0 100%;
	}
	.linewrapper {
		display: flex;
		position: relative;
		width: 100%;
		padding: 3%;
	}
		
	.visitor-icon::after {
	    position: absolute;
		top: 5em;
		left: 2.4em;
	    height: calc(100% - 5em);
		border-top: none;
	    border-left: 0.15em solid #5F178D;
	    content: "";
		z-index: -10;
	}
	
	.visitor-content {	
		padding: 0 7%;
	}
	
	.visitor-content a {
		margin-left: 0;
		margin-right: 50%;
		padding: 0.5em;
		text-align: center;
	}
	
	.pray-intro{
		flex-direction: column;
	}
	
	#pray-reserve{
		margin: 1% 20%;
	}
}

@media (max-width: 750px){
	.sunday-worship-intro{
		flex-direction: column;
	}
	
	#lunch-reserve {
		margin-top: 1%;
	}
	
	.sunday-schedul-l{
		flex-direction: column;
	}
	
	.sunday-schedule{
		margin-top: 2%;
	}
	
	.notice-l{
		flex-direction: column;
	}
	
	.notice-content{
		width: 100%;
	}
}

@media (max-width: 850px) {
	.intro>p span {
		line-height: 1.4;
	}
}