@charset "utf-8";

@media (max-width: 600px) {
	.first-visit-title p{
		text-align: left;
	}
	
	.visitor-ul{
		display:flex;
		flex-wrap: wrap;
		text-align: left;
	}
	
	.visitor-li{
		flex: 0 0 100%;
	}
	.linewrapper {
		display: flex;
		position: relative;
		width: 100%;
		padding: 3%;
	}
		
	.visitor-icon::after {
	    position: absolute;
		top: 5em;
		left: 2.4em;
	    height: calc(100% - 5em);
		border-top: none;
	    border-left: 0.15em solid #5F178D;
	    content: "";
		z-index: -10;
	}
	
	.visitor-content {	
		padding: 0 7%;
	}
	
	.visitor-content a {
		margin-left: 0;
		margin-right: 50%;
		padding: 0.5em;
		text-align: center;
	}
	
	.pray-intro{
		flex-direction: column;
	}
	
	#pray-reserve{
		margin: 1% 20%;
	}
}

@media (max-width: 750px){
	.sunday-worship-intro{
		flex-direction: column;
	}
	
	#lunch-reserve {
		margin-top: 1%;
	}
	
	.sunday-schedul-l{
		flex-direction: column;
	}
	
	.sunday-schedule{
		margin-top: 2%;
	}
}