@charset "utf-8";

* {
	margin: 0;
	padding: 0;
	font-family: Arial;
}

*, ::after, ::before {
    box-sizing: border-box;
}

a {
	color: #2f0359;
	text-decoration: none;
	background-color: transparent;
}

ul{
	list-style: none;
}

article {
	margin-top: 5%;
}

article h2{
	font-size: 1.75em;
}

.wrapper {
	margin: 10px auto;
	background-color: white;
}

.d-flex {
	display: flex;
}

.d-inline-flex{
	display: inline-flex;
}

.flex-row {
	flex-direction: row;
}

.flex-col {
	flex-direction: column;
}

.align-left {
	text-align: left;
}

.margin-auto {
	margin: auto;
}

.flax-wrap{
	flex-wrap: wrap;
}

.flax1{
	flex: 1;
}

.flax2{
	flex: 2
}

.tcenter{
	text-align: center;
}

.noshrink{
	flex-shrink: 0;
	flex-grow: 1;
	flex: 0 0 100%;
}

.nodisplay{
	display: none;
}

.blockdisplay{
	display: flex;
}
 
