@charset "utf-8";
/* topper bar */
.topper{
	position: relative;
	width: 100%;
	height: 2em;
	background: -webkit-linear-gradient(top, #000, #40205f);
	background: -moz-linear-gradient(top, #000, #40205f);
}

.marquee {
	background-color: rgba(0, 0, 0, 0);
	width: 40%;
	overflow: hidden;
	margin-left: 37%;
}

.marquee>.inner {
	margin-top: 0.3em;
	position: relative;
	width: 100%;
	display: flex;
	color: white;
	font-size: 1em;
	font-weight: bold;
}

.marquee .inner>* {
	white-space: nowrap;
	padding: 0 4em;
}

.go-english {
	display: flex;
	background-color: white;
	margin-left: 3%;
	width: 15%;
	margin-top: 0.35em;
	margin-bottom: 0.35em;
	border-radius: 5px;
	align-items: center;
	justify-content: center;
}

.go-english h4{
	color: black;
	font-size: 1.2em;
}

.go-english:hover {
	background-color: #40205f;
}

.go-english:hover h4{
	color: #fff;
}

.acc-logo {
	padding-top: 1.5em;
	padding-bottom: 1.5em;
	padding-left: 3%;
	flex: 4 1 100%;
}

/* img background #5F178D */
.acc-logo img {
	width: 3em;
	margin-right: 0.25em;
}

.acc-brand {
	text-align: center;
	white-space: nowrap;
	padding-top: 0.5em;
}

.acc-brand>h4 {
	padding-bottom: 0.3em;
	font-size: 1.25em;
	color: black;
	text-shadow: lightgrey 1px 1px;
}

.acc-brand>small {
	border-top: 0.15em #40205f solid;
	padding-top: 0.2em;
	font-size: 1em;
	color: black;
	text-shadow: lightgrey 1px 1px;
	
}

.topmenu {
	position: relative;	
}

.topmenu>a{
	padding: 0.4em 1em;
}

.topmenu>h4{
	padding: 1em;
	border-top:0.2em solid black;
}

.dropdown{
	margin-top: 3.5em;
	position: absolute;
	float: left;
	width: 100%;
	background: -webkit-linear-gradient(top, #000, #40205f);
	background: -moz-linear-gradient(top, #000, #40205f);
	opacity: 0.9;
	padding: 1em 0;
	display: none;
}

#drop1{
	margin-left: 4.5em;
}
#drop2{
	margin-left: 0.5em;
}
#drop4{
	margin-left: 0.5em;
}
#drop5{
	margin-left: 1.3em;
}
#drop6{
	margin-left: 1.4em;
}
#drop7{
	margin-left: 1.4em;
}

.dropdown>ul{
	padding: 0.5em;
	font-size: 0.95em;
}

.dropdown>ul>li{
	padding: 0.7em 0;
}

.dropdown>ul a{
	color: white;
}

/* hover effect */
.topmenu:hover{
	cursor: pointer;
}
.topmenu:hover .dropdown{
	display: flex;
	z-index: 10;
}

.topmenu>h4:hover{
	background: black;
	color: mediumpurple;
}

.dropdown a:hover{
	color: mediumpurple;
}

#cellnavicon{
	display: flex;
	float:right;
	align-items: center;
	justify-content: right;
	padding-right: 3%;
}

#cellnavicon img{
	position: relative;
	height: 40%;
	display: block;
}

.cellnavwrapper{
	position: absolute;
	top: 25%;
	right:0;
	width: 40%;
	z-index: 100;
	background: -webkit-linear-gradient(top, #000, #40205f);
	background: -moz-linear-gradient(top, #000, #40205f);
	border-radius: 5px 0 0 5px;
}

.cellnav-line{
	border-bottom: 1px solid #666e75;
}

.cellnav-url{
	color: #fff;
	display: block;
	padding: 1.25em 1em;
	font-size: 1.25em;
	font-weight: bold;
	position: relative;
}

.cellnav-subicon::before{
	content: "⌵";
	position: absolute;
	right: 1em;
	color: #fff;
}

.cellnav-subicon-collapse::before{
	content: "⌃";
	position: absolute;
	right: 1em;
	color: #fff;
}

.cellnave-subwrapper{
	background: black;
}

.cellnav-suburl{
	color: #fff;
	display: block;
	padding: 0.5em 0 0.5em 1.7em;
	font-size: 1.1em;
	font-weight: bold;
	position: relative;
	overflow: hidden;
}

.cellnav-url:hover{
	background: purple;
}

.cellnav-suburl::before{
	content: "-";
	position: absolute;
	left: 1em;
	color: #fff;
}



