@charset "utf-8";

.video-wrapper {
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
}

#backVideo {
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
}

.video-content {
	background: rgba(12, 13, 17, 0.45);
	position: absolute;
	max-width: 100%;
	top: -8px;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
}

.intro {
	position: absolute;
	left: 5%;
	top: 15%;
	max-width: 45%;
}

.intro>p span {
	color: white;
	font-family: 'Montserrat', sans-serif;
	line-height: 1.7;
	text-align: left;
	display: block;
	font-size: 1em;
	padding-left: 1em;
}

#videoBtn {
	position: absolute;
	top: 15%;
	width: 3em;
	font-size: 1em;
	padding: 10px;
	border: none;
	background: #000;
	color: #fff;
	cursor: pointer;
	border-radius: 5px;
}

#videoBtn:hover {
	color: mediumpurple;
}

/* slideshow ----------------------------------------------------------------------*/
.slideshow {
	float: right;
	margin-top: 5%;
	width: 50%;
	height: 85%;
	display: flex;
	flex-direction: row;
	background-color: rgba(0, 0, 0, 0.9);
}

.slideshow-items {
	position: relative;
	width: 100%;

}

.item {
	/* border: 1rem solid rgba(0,0,0,0.9); */
	position: absolute;
	width: 100%;
	height: 100%;
}

.item-image {
	position: relative;
	width: 100%;
	height: 100%;
	object-fit: contain;
	opacity: 0;
	/* display: block; */
	/* transition: property name | duration | timing-function | delay  */
	transition: opacity .3s ease-out .45s;
}

.item.active .item-image {
	opacity: 1;
}

/* Controls ----------------------------------------------------------------------*/
.controls {
	position: relative;
	float: right;
	padding-right: 5rem;
	margin-left: 10%;
	margin-top: 1rem;
	z-index: 1000;
}

.controls ul {
	list-style: none;
}

.controls ul li {
	/* display: inline-block; */
	width: 12px;
	height: 12px;
	margin: 6px;
	background: #40205f;
	cursor: pointer;
}

.controls ul li.active {
	background: mediumpurple;
}


/* First Visit ----------------------------------------------------------------------*/
.first-visit-title {
	text-align: center;
	margin-top: 5%;
	margin-left: 10%;
	margin-right: 10%
}

.visitor-ul {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 1em;
	text-align: center;
	padding: 1% 8%;
}

.visitor-li {
	display: flex;
	flex: 1;
	flex-direction: column;
	max-width: 100%;
}

.linewrapper {
	display: block;
	position: relative;
	width: 100%;
}

.notebook-icon::before {
	content: url("../img/icons8-notebook-60.png");
	width: 60px;
	height: 60px;
	opacity: 0.9;
}

.church-icon::before {
	content: url("../img/icons8-church-60.png");
	width: 60px;
	height: 60px;
	opacity: 0.9;
}

.group-icon::before {
	content: url("../img/icons8-group-64.png");
	width: 60px;
	height: 60px;
	opacity: 0.9;
}

.visitor-icon {
	/* justify-content: center; */
	align-items: center;
	font-weight: 600;
}

.visitor-icon::after {
	position: absolute;
	top: 2em;
	width: calc(100% - 7.25em);
	left: calc(50% + 3.5em);
	border-top: 0.15em solid #5F178D;
	content: "";
}

.visitor-content {
	flex: 1;
	padding: 5% 15%;
}

.visitor-content h3 {
	opacity: 0.7;
}

.visitor-content p {
	font-size: 0.9em;
	padding: 2% 0;
}

.visitor-content a {
	font-size: .75rem;
	font-weight: 400;
	padding: 0.5rem 0.75rem;
	color: #fff;
	background-color: #5F178D;
	border-radius: 5px;
}
