@charset "utf-8";

.video-wrapper {
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
}

#backVideo {
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	border: 0.3em ridge black;
}

.video-content {
	background: rgba(12, 13, 17, 0.45);
	position: absolute;
	max-width: 100%;
	top: -8px;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
}

.intro {
	position: absolute;
	left: 5%;
	top: 15%;
	max-width: 45%;
}

.intro>p span {
	color: white;
	font-family: 'Montserrat', sans-serif;
	line-height: 1.7;
	text-align: left;
	display: block;
	font-size: 1em;
	padding-left: 1em;
}

#videoBtn {
	position: absolute;
	top: 15%;
	width: 3em;
	font-size: 1em;
	padding: 10px;
	border: none;
	background: #000;
	color: #fff;
	cursor: pointer;
	border-radius: 5px;
}

#videoBtn:hover {
	color: mediumpurple;
}

/* slideshow ----------------------------------------------------------------------*/
.slideshow {
	float: right;
	margin-top: 5%;
	width: 50%;
	height: 85%;
	display: flex;
	flex-direction: row;
	background-color: rgba(0, 0, 0, 0.9);
	border: 0.5em solid rgba(0, 0, 0, 0);
}

.slideshow-items {
	position: relative;
	width: 100%;

}

.item {
	position: absolute;
	width: 100%;
	height: 100%;
}

.item-image {
	position: relative;
	width: 100%;
	height: 100%;
	object-fit: contain;
	opacity: 0;
	/* display: block; */
	/* transition: property name | duration | timing-function | delay  */
	transition: opacity .3s ease-out .45s;
}

.item.active .item-image {
	opacity: 1;
}

/* Controls ----------------------------------------------------------------------*/
.controls {
	position: relative;
	float: right;
	padding-right: 5rem;
	margin-left: 10%;
	margin-top: 1rem;
	z-index: 1000;
}

.controls ul {
	list-style: none;
}

.controls ul li {
	/* display: inline-block; */
	width: 12px;
	height: 12px;
	margin: 6px;
	background: #40205f;
	cursor: pointer;
}

.controls ul li.active {
	background: mediumpurple;
}


/* First Visit ----------------------------------------------------------------------*/
.first-visit-title {
	text-align: center;
	margin-left: 12%;
	margin-right: 12%;
}

.visitor-ul {
	position: relative;
	display: flex;
	margin-bottom: 1em;
	text-align: center;
	padding: 1% 8%;
}

.visitor-li {
	display: flex;
	flex: 1;
}

.linewrapper {
	display: block;
	position: relative;
}

.notebook-icon::before {
	content: url("../img/icons8-notebook-60.png");
	width: 60px;
	height: 60px;
	opacity: 0.9;
}

.church-icon::before {
	content: url("../img/icons8-church-60.png");
	width: 60px;
	height: 60px;
	opacity: 0.9;
}

.group-icon::before {
	content: url("../img/icons8-group-64.png");
	width: 60px;
	height: 60px;
	opacity: 0.9;
}

.visitor-icon::after {
	position: absolute;
	top: 2em;
	width: calc(100% - 7.25em);
	left: calc(50% + 3.5em);
	border-top: 0.15em solid #5F178D;
	content: "";
}


.visitor-content {
	display: flex;
	flex-direction: column;
	padding: 5% 15%;
}

.visitor-content h3 {
	opacity: 0.9;
}

.visitor-content p {
	font-size: 0.9em;
	padding: 2% 0;
}

.visitor-content a {
	font-size: .75rem;
	font-weight: 400;
	padding: 0.25rem;
	margin: 0 15%;
	color: #fff;
	background-color: #5F178D;
	border-radius: 5px;
}

.visitor-content a:hover {
	background-color: black;
	color: mediumpurple;
}


.sunday-worship-intro {
	display: flex;
	margin-left: 13%;
	margin-right: 10%;
}

#lunch-reserve {
	margin-top: 6%;
	margin-left: 10%;
	margin-right: 15%;
	padding: 0.5rem 0.75rem;
	background-color: rgba(64, 32, 95, .1);
	border: 0.25em solid #40205f;
	border-radius: 10px;
}

#lunch-reserve:hover {
	background-color: #40205f;
	color: white;
}

/* Sunday Schedule -----------------------------------------------------------*/
.sunday-schedule {
	display: block;
	flex-direction: column;
	flex: 1;
	padding: 2em 3em;
	margin: 0 0.5em;
	overflow: hidden;
	background-color: #f7faff;
	border-radius: 10px;
}

.sunday-timeline {
	width: 100%;
	position: relative;
	padding: 1.5rem 0 1rem;

}

.sunday-timeline::before {
	content: '';
	position: absolute;
	top: 0;
	left: 4em;
	height: 100%;
	width: 0.25em;
	background: #e9ecef;
	border-radius: 0.25rem;
}

.timeline-element {
	position: relative;
	margin: 1em 0 1em;
}

.timeline-element-time {
	position: absolute;
	left: -0.85em;
	top: 0.1em;
	/* color: #adb5bd; */
	color: darkgray;
	font-size: 0.875em;
	white-space: nowrap;
}

.badge {
	position: absolute;
	left: 3.5em;
	border-radius: 0.3125rem;
	background-color: #71869d;
}

.badge-dot {
	width: 18px;
	height: 18px;
	position: absolute;
}

.badge-dot::before {
	content: '';
	width: 10px;
	height: 10px;
	border-radius: 0.25rem;
	position: absolute;
	left: 50%;
	top: 50%;
	margin: -5px 0 0 -5px;
	background: #fff;
}

.timeline-element-content {
	position: relative;
	margin-left: 5.5em;
	top: -0.1em;
	opacity: 0.7;
}

.timeline-element-content p {
	font-size: 0.875em;
}

.pray-intro {
	display: flex;
	width: 100%;
	background-color: #40205f;
	padding-top: 2em;
	padding-bottom: 2em;
	padding-left: 12%;
	padding-right: 12%;
	color: white;
}

#pray-reserve {
	margin-top: 2em;
	margin-left: 25%;
	padding: 1em;
	background-color: rgba(64, 32, 95, .1);
	border: 0.25em solid white;
	border-radius: 10px;
	color: white;
}
